body{
    background-color:#fff;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
  nav{
    background: rgb(127, 127, 252);
    /* background-position: center; */
    /* text-align: center; */
    height: 80px;
    width: 100%;
   
}
label .logo{
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul {
    float: right;
} 
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
} 
.switch{
    position: relative;
    background-color : rgb(253, 12, 12);
    display: inline-block;
    line-height: 80px ;
    width: 60px;
    height: 34px;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;

}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;

}
input:checked + .slider{
    background-color: green;
}

input:focus +.slider{
 box-shadow: 0 0 1px blue;
}

input:checked + .slider:before{
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);

}

/*Rounded slider*/
.slider.round{
 border-radius: 34px;

}
.slider.round.slider::before{
    border-radius: 50%;

}


