@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  background-color: #E4E9f7;
  color: red;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
h1{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}








/* top nav bar css */
/* fdbfb */
/* sdvb */



nav{
	position:relative;
  top: -24px;
  left: 232px;
	/* margin: 10px ;
  left: 0%; */
	width: 1367px;
	height: 50px;
	background: #1c59ff;
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
nav a{
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position: absolute;
	height: 100%;
	/* height: 5px; */
	top: 0;
	/* bottom: 0; */
	z-index: 0;
	background: #1abc9c;
	border-radius: 8px;
	transition: all .5s ease 0s;
}
nav a:nth-child(1){
	width: 100px;
}
/* nav .start-home, a:nth-child(1):hover~.animation{
	width: 100px;
	left: 0;
} */
nav a:nth-child(2){
	width: 110px;
  right: -76%;
}
/* nav a:nth-child(2):hover~.animation{
	width: 110px;
	left: 100px; 
}*/
nav a:nth-child(3){
	width: 100px;
  right: -79%;
}
/* nav a:nth-child(3):hover~.animation{
	width: 100px;
	left: 210px; */
}
nav a:nth-child(4){
	width: 160px;
}
nav a:nth-child(4):hover~.animation{
	width: 160px;
	left: 310px;
}
nav a:nth-child(5){
	width: 120px;
}
nav a:nth-child(5):hover~.animation{
	width: 120px;
	left: 470px;
}
.switch{
  position: relative;
  right: -69%;
  /* background-color : rgb(252, 250, 250); */
  display: inline-block;
  line-height: 45px ;
  width: 60px;
  height: 34px;
}
.switch input{
  opacity: 0;
  width: 0;
  height: 0;

}
.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;

}
input:checked + .slider{
  background-color: green;
}

input:focus +.slider{
box-shadow: 0 0 1px blue;
}

input:checked + .slider:before{
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);

}

/*Rounded slider*/
.slider.round{
border-radius: 34px;

}
.slider.round.slider::before{
  border-radius: 50%;

}




